:root {
}

.HUDButton {
    width: 10%;
    align-self: center;
    align-items: stretch;
    height: 5%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    top: auto;
    position: absolute;
}
